<ion-header [translucent]="true">
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="4" size-lg="2">
        <br /><br /><br /><br /><br /><br />
        <div class="ion-text-center">
          <img [src]="'assets/icon/app.svg'" />
        </div>
        <br /><br />
        <div class="p-l-4">
          <ion-text>
            <h4><strong>Accede</strong></h4>
          </ion-text>
          <ion-text>
            <h6>Ingresando con tus datos de alumno</h6>
          </ion-text>
        </div>
        <hr>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" [autocomplete]="'off'" class="ion-padding">
          <ion-input class="background-light" label="Código del Alumno" label-placement="floating" fill="outline"
            placeholder="Ingresa tu código" (ionInput)="onInput($event)" ngDefaultControl
            formControlName="code"></ion-input>
          <br>
          <ion-input class="background-light" label="Contraseña" type="password" label-placement="floating"
            fill="outline" placeholder="Ingresa tu contraseña" ngDefaultControl formControlName="password"></ion-input>
          <br>
          <ion-button expand="block" type="submit" [disabled]="!loginForm.valid">Ingresar</ion-button>
          <ion-toast [isOpen]="presenter.isToastOpen" [message]="presenter.messageToast" [duration]="3000"
            (didDismiss)="presenter.setOpenToast(false)"></ion-toast>
          <ion-loading [isOpen]="presenter.isLoadingOpen" [message]="'Cargando'" [duration]="500"
            (didDismiss)="true"></ion-loading>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>